# IDE
.vscode/
.idea/

# Сборки и бинарные файлы
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.DotSettings.user

# Логи и временные файлы
*.log
*.tmp

# NuGet
packages/
*.nupkg

# Avalonia (дополнительно)
avalonia.xml